.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}

.month {
  text-align: center;
  font-size: 2rem;
}

.week {
  display: flex;
  flex: 1;
}

.day {
  box-sizing: border-box;
  background: #eee;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  flex: 1;
  position: relative;
}

.day span {
  float: right;
  font-size: 0.8em;
  margin: 0.2em;
}

.current-month {
  background: white;
}

.day span.today {
  color: orange;
  font-weight: bold;
  font-size: 1.3em;
  margin: -0.1em 0.1em;
}

.weekdays {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
  background: white;
  color: #555;
}

.weekdays div {
  border-right: 1px solid #ddd;
  flex: 1;
  text-align: center;
  padding: 0.4rem 0;
}

.weekdays div:last-child {
  border: 0;
}

.logo {
  display: inline-flex;
  height: 36px;
  align-items: center;
  font-family: "Secular One", sans-serif;
  text-transform: lowercase;
  color: #111;
  border: 2px solid #111;
  padding: 0 0.4rem;
}

.brand {
  font-size: 22px;
  line-height: 30px;
  display: block;
  margin-top: 2px;
}

.emoji-input {
  background: #ddd;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji-input:hover {
  background: #ccc;
  cursor: pointer;
}
