.calendar {
  height: calc(100vh - 52px);
}

.weekdays div {
  border-right: 1px solid #ddd;
  flex: 1;
  text-align: center;
  padding: 0.4rem 0;
}

.weekdays div:last-child {
  border: 0;
}

.brand {
  font-family: "Secular One", sans-serif;
  margin-bottom: -8px;
  font-size: 18px;
}

.emoji-input {
  width: 64px;
  height: 64px;
}

.ff-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
