@tailwind base;
@tailwind components;

:root {
  --ff-max-width: 1440px;
  --ff-h-header: 56px;
  --ff-bg-light: #f8fafb;
  --ff-text-link-blue: #3da9fc;
  --ff-text-body-dark: #5f6c7b;
  --ff-text-heading-dark: #094067;
}

h2 {
  color: var(--ff-text-heading-dark);
  @apply font-bold;
}

p {
  color: var(--ff-text-body-dark);
}

body {
  background: var(--ff-bg-light);
}

.ff-container {
  width: 100%;
  max-width: var(--ff-max-width);
  margin: 0 auto;
}

.ff-link {
  color: var(--ff-text-link-blue);
  @apply underline;
}

.ff-pt-header {
  padding-top: var(--ff-h-header);
}

.ff-h-header {
  height: 54px;
  /* border bottom 2px */
}

.ff-h-full {
  height: calc(100vh - var(--ff-h-header));
}

.ff-border-light {
  border-color: var(--ff-bg-light);
}

@tailwind utilities;
